.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

Assets/AssetStoreTools*
sysinfo.txt

[Ll]ightmapSnapshot/
[Ll]ightingData.asset
[Ll]ightmaps/
[Ll]ightmapsCache/
[Ll]ightProbeSnapshot.asset
[Gg]I[ _]Cache/

*.playable

/[Aa]ssets/[Aa]ddressableAssetsData/*
/[Aa]ssets/StreamingAssets/aa/*

/[Aa]ssets/ShaderCache/
*.shadergraph.meta

*.pdb
*.mdb
*.opendb
*.VC.db

/[Pp]ackages/packages-lock.json
/[Pp]ackages/manifest-temp.json

/[Cc]ollab/
/[Pp]lastic/

/[Uu]serSettings/Layouts/
/[Cc]acheServer/

*.apk
*.unitypackage
*.aab
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcsettings
*.xcscheme

*.keystore
*.jks

/[Cc]rashReports/

/[Aa]ssets/Plugins/Editor/JetBrains*


*.user
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.tmp
*.svd

/[Bb]uilds/WebGL/
/[Ww]ebGLBuild/

/iosBuild/
/iOSBuild/

/AppPackages/
/BundleArtifacts/

*.app

*.x86
*.x86_64

/.vs/

.vsconfig
/Assets/Zombi/